<!DOCTYPE html>
{% extends 'myApp/parent.html' %}
<html lang="en" dir="ltr">
<body>
  {% block for_child %}
  <div class="jumbotron" align="center">
  <div class="container" align="center">
      <h1><a href="#">Welcome to PENTAGONSPACE</a></h1>
      <h2><a href="#">Rules to take up the test</a></h2>

      <h5><a href="#"><li>You are given 1 hr of duration</li></a></h5>
      <h5><a href="#"><li>No calcualtor is allowed</li></a></h5>
        <h5><a href="#"><li>Indiscipline is not entertained</li></a></h5>

    </div>
</div>
  {% endblock %}
  </body>
</html>
